{{# each products }}
    <div class="row">
        {{# each this}}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ this.imagePath }}">
                <div class="card-body">
                    <h2>{{ this.title }}</h2>
                    <p class="card-text">{{this.description}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="/add-to-cart/{{ this.id }}" type="button" class="btn btn-sm btn-success">Add to Shopping Cart</a>
                    </div>
                    <div class="price">${{this.price}}</div>
                    </div>
                </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}

{{!-- 
<div class="row">
    
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="https://compass-ssl.xbox.com/assets/0f/e2/0fe2dc18-a88e-46e8-aac7-b57215b9bc81.jpg?n=E3-Games-Hub-2017_Content-Placement-0_Sea-of-Thieves_740x417.jpg">
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-success">Buy Now</button>
            </div>
            <div class="price">$320</div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="https://compass-ssl.xbox.com/assets/0f/e2/0fe2dc18-a88e-46e8-aac7-b57215b9bc81.jpg?n=E3-Games-Hub-2017_Content-Placement-0_Sea-of-Thieves_740x417.jpg">
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-success">Buy Now</button>
            </div>
            <div class="price">$125</div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="https://compass-ssl.xbox.com/assets/0f/e2/0fe2dc18-a88e-46e8-aac7-b57215b9bc81.jpg?n=E3-Games-Hub-2017_Content-Placement-0_Sea-of-Thieves_740x417.jpg">
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-success">Buy Now</button>
            </div>
            <div class="price">$250</div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="https://compass-ssl.xbox.com/assets/0f/e2/0fe2dc18-a88e-46e8-aac7-b57215b9bc81.jpg?n=E3-Games-Hub-2017_Content-Placement-0_Sea-of-Thieves_740x417.jpg">
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-success">Buy Now</button>
            </div>
            <div class="price">$320</div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="https://compass-ssl.xbox.com/assets/0f/e2/0fe2dc18-a88e-46e8-aac7-b57215b9bc81.jpg?n=E3-Games-Hub-2017_Content-Placement-0_Sea-of-Thieves_740x417.jpg">
        <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-success">Buy Now</button>
            </div>
            <div class="price">$125</div>
            </div>
        </div>
        </div>
    </div>
</div> --}}